html {margin:0;padding:0;border:0;}
a img {border:none;}
:focus {outline:0;}
.container {  }
.column { display:inline-block;line-height:1em;vertical-align: top; }

body { margin:0;padding:0;font-size: 12px;line-height:1.3em;font-family:Arial;background:#f2f1f1; }
.demo-notice { background: #D75F07;color: #FFFFFF;line-height: 1.15;margin: 0; padding: 6px 10px;text-align: center; }

.ui-button { <?php echo buildBorderRadius('6px', '6px', '6px', '6px');?> }
.ui-button .ui-icon { background-image: url(<?php echo jqueryIconsPath('ffffff');?>); }
.ui-button.ui-state-default { border-color:transparent;color:#ffffff;font-size:1.1em;<?php echo buildSimpleGradient('#afb5ba', '#2b3a47');?> }
.ui-button.ui-state-active, .ui-button.ui-state-selected { <?php echo buildSimpleGradient('#2b3a47', '#afb5ba');?> }
.ui-button.ui-state-hover { <?php echo buildSimpleGradient('#2b3a47', '#afb5ba');?> }

.ui-widget-header { color:#ffffff;line-height: 2em;border-color: transparent;margin:.3em;<?php echo buildSimpleGradient('#56535a', '#39353e');?><?php echo buildBorderRadius('4px', '4px', '0px', '0px');?> }
.ui-widget-header-text { font-family: arial;vertical-align:baseline;color:#ffffff;font-size:1.5em;font-weight:normal; }
.ui-widget-content, .ui-infobox-content { margin:0; }

.ui-infobox { margin-bottom:.5em;border-color:#bdbcbd;background:#ffffff;<?php echo buildBorderRadius('4px', '4px', '4px', '4px');?> }
.ui-infobox-content { margin: 0 .5em .5em .5em; }
.ui-infobox-header-text { vertical-align:baseline;color:#ffffff;font-size:1.1em;font-weight:normal; }

.ui-dialog-titlebar { color:#ffffff; }
tr.ui-widget-header td, tr.ui-widget-header th, tr th.ui-widget-header { color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }
.productListingRowContents .ui-widget-header { color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }

.moduleRow.ui-state-default { color:#010101; border:1px solid transparent;background:none; }
.moduleRow.ui-state-hover { color:#010101;background:#b5bbc0;border-color:#1f2429; }
.moduleRow.ui-state-active { color:#010101;background:#b5bbc0;border-color:#1f2429; }

#headerMainNavigation { margin-left:2em;margin-right:2em; }
#headerMainNavigation ol { line-height:3em; }
#headerMainNavigation li.root { border:1px solid transparent; }
#headerMainNavigation li.root a { color:#ffffff;font-size:1em; }
#headerMainNavigation li.root.ui-state-hover, #headerMainNavigation li.root.ui-state-active {
	border-color: #535353;
	border-bottom-color:transparent;
	<?php
	echo buildLinearGradient(270, array(
		array('#ffa342', 0),
		array('#ff7e0e', .5),
		array('#ff962f', 1)
	));
	?>
}
#headerMainNavigation li.root.ui-state-hover a, #headerMainNavigation li.root.ui-state-active a { color:#ffffff; }

#categoriesBoxMenu {  }
#categoriesBoxMenu .ui-accordion-header { color:#000000; }
#categoriesBoxMenu .ui-accordion-header .ui-icon { background-image: url(<?php echo jqueryIconsPath('222222');?>); }
#categoriesBoxMenu .ui-accordion-header.ui-corner-all { border:1px solid transparent;border-bottom-color:#535353;border-bottom-style:dotted;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }
#categoriesBoxMenu .ui-accordion-header.ui-state-default { background:transparent; }
#categoriesBoxMenu .ui-accordion-header.ui-state-hover, #categoriesBoxMenu .ui-accordion-header.ui-state-active {
	color:#ffffff;
	border:1px solid #535353;
	<?php
		echo buildLinearGradient(270, array(
			array('#ffa342', 0),
			array('#ff7e0e', .5),
			array('#ff962f', 1)
		));
		echo buildBorderRadius('0px', '0px', '0px', '0px');
	?>
}

#IndexWelcomeBlock { margin-top:10px;border:1px solid #bdbcbd;<?php echo buildBorderRadius(0, 0, 0, 0);?> }
#IndexWelcomeBlock .ui-infobox-header { behavior:none;background:none;border:1px solid transparent;border-bottom-color:#000000; }
#IndexWelcomeBlock .ui-infobox-header .ui-infobox-header-text { margin:.3em;color:#48444d;font-size:1.7em;font-family:Helvetica, Times New Roman, Arial; }
#IndexWelcomeBlock .ui-infobox-content { margin:1em; }

#indexScroller { border-top:none;<?php echo buildBorderRadius(0, 0, 0, 0);?> }
#indexScroller .ui-infobox-header { margin:0;<?php echo buildBorderRadius(0, 0, 0, 0);?> }
#indexScroller .scrollBoxesStackedContainer, #indexScroller .scrollBoxStacked { margin:0; }
#FooterColumn1, #FooterColumn2 { vertical-align:middle; }

#footerNavigationMenu { border:none;font-size: .9em; }
#footerNavigationMenu ol { text-align:center;display: inline-block;line-height: 1em; }
#footerNavigationMenu li { border-left: 1px solid #ffffff;padding-left: 5px;padding-right: 5px; }
#footerNavigationMenu li.first { border-left: none; }
#footerNavigationMenu li a { color: #ffffff; }
#footerNavigationMenu li .menu_text { vertical-align:top; }
