html {margin:0;padding:0;border:0;}
a img {border:none;}
:focus {outline:0;}
.container {  }
.column { display:inline-block;line-height:1em;vertical-align: top; }

body { }
.demo-notice { background: #D75F07;color: #FFFFFF;line-height: 1.15;margin: 0; padding: 6px 10px;text-align: center; }

.ui-tabs .ui-tabs-nav { line-height: 1.5em; }

.ui-widget-header { border-color: #00236f;border-bottom-color:#7b8db5;color:#FFFFFF;line-height: 3em;border:none;margin:.3em;<?php echo buildBorderRadius('4px', '4px', '0px', '0px');?><?php echo buildSimpleGradient('#2c539e', '#254588');?> }
.ui-widget-header-text { line-height: 3em;vertical-align:baseline;color:#ffffff;font-size:1em;font-weight:bold; }
.ui-widget-content { background:#ffffff;margin:.3em; }
.ui-widget-text { margin: .5em; }

.ui-widget-header { border-color: #00236f;border-bottom-color:#7b8db5;color:#FFFFFF;line-height: 3em;border:none;margin:.3em;<?php echo buildBorderRadius('4px', '4px', '0px', '0px');?><?php echo buildSimpleGradient('#2c539e', '#254588');?> }
.ui-infobox-header { margin:0;border:none;line-height:3em;<?php echo buildBorderRadius('3px', '3px', '0px', '0px');?> }
.ui-infobox-header-text { font-family: arial;line-height:1.7em;color:#FFFFFF;font-weight:normal;font-size:1.5em; }
.ui-infobox-content { border-color: #09649e; }

.pageHeaderContainer { font-size: 1.2em;color:#ffffff; }
.pageContent { margin: .5em; }

.ui-dialog-titlebar { color:#ffffff; }
tr.ui-widget-header td, tr.ui-widget-header th, tr th.ui-widget-header { color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }
.productListingRowContents .ui-widget-header { color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }

.moduleRow.ui-state-default { color:#010101;background:none; }
.moduleRow.ui-state-hover { color:#010101;background:#b5bbc0;border-color:#1f2429; }
.moduleRow.ui-state-active { color:#010101;background:#b5bbc0;border-color:#1f2429; }

#headerMiniNav {
	float: right;
	margin-right: 3em;
}
#headerMiniNav ol { display: inline-block;line-height: 1em;vertical-align: baseline; }
#headerMiniNav a { font-weight:bold;color:#FFFFFF; }
#headerMiniNav a span { vertical-align: inherit; }
#headerMiniNav li.root { border-right:1px solid #FFFFFF;padding-left:1em;padding-right:1em;line-height:1em; }
#headerMiniNav li.root.last { border-right:none;padding-right:0; }

#mainNavigationMenu {  }
#mainNavigationMenu ol { line-height:3.5em; }
#mainNavigationMenu li.root {  }
#mainNavigationMenu li.root a { color:#ffffff;font-size:1em; }
#mainNavigationMenu li.root.ui-state-hover, #mainNavigationMenu li.root.ui-state-active {
<?php
	echo buildLinearGradient(270, array(
		array('#faa71c', 0),
		array('#e36d11', 1)
	), array(
		array(
			'css_placement' => 'before',
			'image' => sysConfig::getDirWsCatalog() . 'templates/electronics/images/header_nav_icon.png',
			'repeat' => 'no-repeat',
			'pos_x' => '50%',
			'pos_y' => '100%'
		)
	));
?>
}
#mainNavigationMenu li.root.ui-state-hover a, #mainNavigationMenu li.root.ui-state-active a { color:#000000; }

.demo-notice {
    background: none repeat scroll 0 0 #D75F07;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.15;
    margin: 0;
    padding: 6px 10px;
    text-align: center;
}

.ui-button .ui-button-text {
	color: #ffffff;
}

.ui-button.ui-state-default {
	border: 1px solid #0d2d6b;
	<?php
		echo buildSimpleGradient('#2b4578', '#182643');
	?>
}

.ui-button.ui-state-hover, .ui-button.ui-state-active, .ui-button.ui-state-selected {
	border: 1px solid #0d2d6b;
	<?php
		echo buildSimpleGradient('#182643', '#2b4578');
	?>
}

#indexScroller {
	border: 1px solid #e7e7e8;
<?php
	echo buildBorderRadius('8px', '8px', '8px', '8px');
?>
}

#indexScroller .scrollBoxStacked, #indexScroller .scrollBoxesStackedContainer{

}

#indexScroller .ui-widget-header  {
	margin:3px 3px 2px 3px;
	border:none;
<?php
	echo buildBorderRadius('8px', '8px', '0px', '0px');
	echo buildLinearGradient(270, array(
		array('#eeeeee', 0),
		array('#f0f0f0', .75),
		array('#e1e1e1', 1)
	));
?>
}
#indexScroller .ui-widget-header .ui-infobox-header-text { color: #294c94; }

#indexScroller .ui-infobox-content {
	border:1px solid transparent;
	margin: 0 3px 3px 3px;
<?php
	echo buildBorderRadius('0px', '0px', '4px', '4px');
	echo buildLinearGradient(270, array(
		array('#e2e2e2', 0),
		array('#f5f5f5', .05),
		array('#fafafa', .06),
		array('#fafafa', .85),
		array('#e6e4e4', 1)
	));
?>
}

body { }

#categoriesBoxMenu { margin-top:.3em;<?php echo buildSimpleGradient('#eeeeee', '#edecec');?> }
#categoriesBoxMenu .ui-accordion-header { color:#000000; }
#categoriesBoxMenu .ui-accordion-header .ui-icon { background-image: url(<?php echo jqueryIconsPath('222222');?>); }
#categoriesBoxMenu .ui-accordion-header.ui-corner-all { border:1px solid transparent;border-bottom-color:#00236f;border-bottom-style:dotted;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }
#categoriesBoxMenu .ui-accordion-header.ui-state-default { background:transparent; }
#categoriesBoxMenu .ui-accordion-header.ui-state-hover, #categoriesBoxMenu .ui-accordion-header.ui-state-active { border:1px solid #00236f;<?php echo buildSimpleGradient('#ffffff', '#7b8db5');?><?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }

#footerNavigationMenu {
	border:none;
	margin-top: 1em;
	font-size: .9em;
}

#footerNavigationMenu ol {
	text-align:center;
	display: inline-block;
	line-height: 1em;
}

#footerNavigationMenu li {
	border-left: 1px solid #ffffff;
	padding-left: 5px;
	padding-right: 5px;
}

#footerNavigationMenu li.first {
	border-left: none;
}

#footerNavigationMenu li a {
	color: #ffffff;
	text-transform: uppercase;
}

#footerNavigationMenu li .menu_text {
	vertical-align:top;
}

.productListingRowContents .ui-widget-header { border:none;color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }
.scrollerListContainer{
	width:600px;
}