html {margin:0;padding:0;border:0;}
a img {border:none;}
:focus {outline:0;}
.container { display:block; }
.column { display:inline-block;line-height:1em;vertical-align: top; }

body { margin:0;padding:0; }
.demo-notice { background: #D75F07;color: #FFFFFF;line-height: 1.15;margin: 0; padding: 6px 10px;text-align: center; }

.ui-tabs .ui-tabs-nav { line-height: 1.5em; }

.ui-button { <?php echo buildBorderRadius('6px', '6px', '6px', '6px');?> }
.ui-button .ui-icon { background-image: url(<?php echo jqueryIconsPath('222222');?>); }
.ui-button.ui-state-default {
	border: 1px solid #77d5f7;
	color:#000000;
	font-size:1.1em;
	<?php
		echo buildLinearGradient(270, array(
			array('#fdfbfb', 0),
			array('#eaeaea', .5),
			array('#dad9d9', .75),
			array('#eddada', 1)
		));
	?>
 }
.ui-button.ui-state-active, .ui-button.ui-state-selected { 
	border: 1px solid #448dae;
	<?php
		echo buildLinearGradient(270, array(
			array('#eddada', 0),
			array('#dad9d9', .5),
			array('#eaeaea', .75),
			array('#fdfbfb', 1)
		));
	?>
}
.ui-button.ui-state-hover {
	border: 1px solid #448dae;
	<?php
		echo buildLinearGradient(270, array(
			array('#eddada', 0),
			array('#dad9d9', .5),
			array('#eaeaea', .75),
			array('#fdfbfb', 1)
		));
	?>
}

.ui-widget-header { color:#ffffff;line-height: 3em;border:none;margin:.3em;<?php echo buildSimpleGradient('#282828', '#8c8c8c');?> }
.ui-widget-header-text { vertical-align:baseline;color:#ffffff;font-size:1.2em;font-weight:bold; }
.ui-widget-content { background:#ffffff;color:#1a1a1a; }

.ui-infobox { border: 1px solid #8f8f8f;background: #f4f4f4;<?php echo buildBorderRadius('3px', '3px', '3px', '3px');?> }
.ui-infobox-header { margin:0;border:none;line-height:3em;<?php echo buildBorderRadius('3px', '3px', '0px', '0px');?> }
.ui-infobox-header-text { font-weight:bold; }
.ui-infobox-content { }

.pageHeaderContainer { font-size: 1em; }
.pageContent { margin: .5em; }

.ui-dialog-titlebar { color:#ffffff; }
tr.ui-widget-header td, tr.ui-widget-header th, tr th.ui-widget-header { color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }
.productListingRowContents .ui-widget-header { color:#ffffff;<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?> }

.moduleRow.ui-state-default { color:#010101; border:1px solid transparent;background:none; }
.moduleRow.ui-state-hover { color:#010101;background:#b5bbc0;border-color:#1f2429; }
.moduleRow.ui-state-active { color:#010101;background:#b5bbc0;border-color:#1f2429; }

#theContainer13 p {
	margin:.5em;
	padding:0;
}
#theContainer5{
	vertical-align: top;
}
#theContainer4{
	margin-top:37px;
}

#headerMiniMenu { width: 225px;text-align:center;line-height: 33px;margin-bottom:1em;margin-left:auto;margin-right:27px;<?php echo buildBorderRadius('0px', '0px', '14px', '14px');?><?php echo buildSimpleGradient('#fd0000', '#be0400');?> }
#headerMiniMenu li { margin-left:.5em; float:none; }
#headerMiniMenu a { font-weight:bold;font-size:.9em;color:#ffffff; }
#headerMiniMenu a img, #headerMiniNav a .menu_text { display:block;margin-left:auto;margin-right:auto; }
#headerMiniMenu a img { margin-bottom: .3em;padding-right: .7em; }
#headerMiniMenu a .menu_text { line-height: 1.3em;border:1px solid transparent;padding-right: .5em; }
#headerMiniMenu a .menu_text { border-right-color:#ffffff;border-right-width: 1px;padding-right: .5em; }
#headerMiniMenu li.root.last a .menu_text { border-right: none; }
#headerShoppingCart {
	font-size: .9em;
	border: 1px solid #650400;
	background: #7c0d08;
	width: 200px;
	color: #ffffff;
	margin: 12px 23px 0 auto;
	padding: 3px 7px 3px 7px;
}

#headerShoppingCart a, #headerRentalQueue a { color:#ffffff; }

#headerShoppingCart .shopIcon {
    width: 13px;
    height: 14px;
    float: left;
    margin-right: 9px;
	<?php echo 'background-image: url('. sysConfig::getDirWsCatalog().'templates/newred/images/shoppingcart_icon.png)';?>
}

#headerRentalQueue {
	font-size: .9em;
	border: 1px solid #650400;
	background: #7c0d08;
	width: 200px;
	color: #ffffff;
	margin: 3px 23px 10px auto;
	padding: 3px 7px 3px 7px;
}

#headerRentalQueue .rentIcon {
    width: 14px;
    height: 10px;
    float: left;
    margin-right: 9px;
	<?php echo 'background-image: url('. sysConfig::getDirWsCatalog().'templates/newred/images/rental_queue_icon.png)';?>
}

#headerSearch {
	text-align:center;
	line-height:33px;
	border: none;
	width: 325px;
	margin-left:auto;
	margin-right:15px;
	<?php echo buildBorderRadius('4px', '4px', '0px', '0px');?>
	<?php echo buildSimpleGradient('#fefefe', '#c5c5c5');?>
}

#headerSearch form {
	vertical-align:middle;
	margin-left:auto;
	margin-right: auto;
	display: inline-block;
}

#headerSearch button {
	margin:0;
	vertical-align: top;
	margin-top: 3px;
	border: 1px solid #d3d3d3;
	line-height: 2em;
	font-size: .9em;
	color: #808080;
	<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?>
	<?php echo buildSimpleGradient('#fefefe', '#e0e0e0');?>
}

#mainNavigationMenu {
	border:none;
}

#mainNavigationMenu ol {
	margin-left: 13px;
}

#mainNavigationMenu li {
	position: relative;
	margin-right: 3px;
	<?php echo buildBorderRadius('6px', '6px', '0px', '0px');?>
}

#mainNavigationMenu li a {
	line-height: 30px;
	color: #6d6d6d;
	font-weight: bold;
	font-size: 1.1em;
}

#mainNavigationMenu li a span {
	padding-left: 10px;
	padding-right: 10px;
}

#mainNavigationMenu li.ui-state-default { <?php echo buildSimpleGradient('#fefefe', '#bebebe');?> }
#mainNavigationMenu li.ui-state-hover { <?php echo buildSimpleGradient('#bebebe', '#fefefe');?> }

#mainNavigationMenu li.ui-state-active {
	background: #ffffff;
	-pie-background: #ffffff;
}

#mainNavigationMenu li.ui-state-hover a, #mainNavigationMenu li.ui-state-active a {
	color: #ff0600;
}

.breadcrumbTrail {
	margin-left: 20px;
}

#categoriesInfoBox.ui-infobox {
	padding:0;
	background:transparent;
}

#categoriesInfoBox .ui-infobox-header {
	margin:0;
}

#categoriesInfoBox .ui-infobox-content {
	padding:0;
	margin:0;
	border-top:none;
}

#categoriesInfoBox .ui-widget-content {
	padding:0;
	background:#eee;
	font-size: .9em;
	font-family:Arial;
}

#categoriesInfoBox .ui-widget-content .ui-widget-content {
	font-size:1em;
}

#categoriesBoxMenu .ui-accordion-header {
	color:#000;
	font-weight:bold;
	background:#fafafa url(<?php echo sysConfig::getDirWsCatalog();?>/templates/newred/images/acc_back.png) repeat-x;
	margin:0;
	padding: .5em;
	font-size: 1em;
}

#categoriesBoxMenu .ui-accordion-header.ui-state-hover {
	background-color:#f4f4f4;
}

#categoriesBoxMenu .ui-accordion-header.ui-state-active {
	<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?>
	border-color:transparent;
	background-color:#fafafa;
}

#categoriesBoxMenu .ui-accordion-header .ui-icon {
	width:14px;
	height: 14px;
	background-position: 0px 0px;
}

#categoriesBoxMenu .ui-accordion-header.ui-state-default .ui-icon {
	background-image:url(<?php echo sysConfig::getDirWsCatalog();?>/templates/newred/images/icon_cat_s.png);
}

#categoriesBoxMenu .ui-accordion-header.ui-state-active .ui-icon {
	background-image:url(<?php echo sysConfig::getDirWsCatalog();?>/templates/newred/images/icon_cat_n.png);
}

#categoriesBoxMenu .ui-accordion-header.ui-corner-all {
	<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?>
	border-top:none;
	border-left:none;
	border-right:none;
	border-color:#fff;
}

#categoriesBoxMenu .ui-accordion-content {
	padding:0;
	margin:0;
	border:none;
	background:transparent;
	<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?>
	overflow:visible;
}

#categoriesBoxMenu .ui-accordion-content ul {
	list-style:none;
	padding:0;
	margin:0;
	margin: .1em;
}

#categoriesBoxMenu .ui-accordion-content li {
	font-size:1em;
	padding: .1em 0;
}

#categoriesBoxMenu .ui-accordion-content li ul {
	width:150px;
	padding: .2em;
}

#categoriesBoxMenu .ui-accordion-content li a {
	text-decoration:none;
	display:block;
	padding: .1em;
	margin-left:auto;
	margin-right:auto;
}

#categoriesBoxMenu .ui-accordion-content li .ui-icon {
	margin-right: .3em;
}

#categoriesBoxMenu .ui-accordion-content li a:hover, #categoriesBoxMenu .ui-accordion .ui-accordion-content li a.selected {
	background:#e6e6e6;
}

<?php
$Style = new StyleBuilder();
$Style->setSelector('#indexButtonScroller');
$Style->addRule('position', 'relative');
$Style->addRule('box_shadow', array(
	array(
		'shadow_offset_x' => '0px',
		'shadow_offset_y' => '0px',
		'shadow_blur' => '5px',
		'shadow_spread' => '0px',
		'shadow_color' => '#333',
		'shadow_inset' => true
	)
));
echo $Style->outputCss();
?>

#indexButtonScroller.ui-infobox {
	border-color: #ff0f0f;
	background: #ffffff;
}

#indexButtonScroller .ui-infobox-content{
	margin: 0;
}

#indexButtonScroller .ui-infobox-header {
	<?php
		echo buildLinearGradient(270, array(
			array('#bf0c0c', 0),
			array('#e00b0d', .5),
			array('#bc0c0c', 1)
		));
	?>
}

.scrollBoxesButtonsContainer {
	margin-top: .5em;
	margin-bottom: .5em;
}

.scrollBoxButtonsButtons button {
	line-height: 2em;
	border: 1px solid black;
	color: #515151;
	font-weight: bold;
	<?php echo buildBorderRadius('0px', '0px', '0px', '0px');?>
	position: relative;
}

.scrollBoxButtonsButtons button.ui-state-default {
	border: 1px solid #000000;
}

.scrollBoxButtonsButtons button.ui-state-hover, .scrollBoxButtonsButtons button.ui-state-active, .scrollBoxButtonsButtons button.ui-state-selected {
	border: 1px solid #000000;
}

<?php
	$Style = new StyleBuilder();
	$Style->setSelector('#Box_customText_7_1InfoBox');
	$Style->addRule('box_shadow', array(
		array(
			'shadow_offset_x' => '0px',
			'shadow_offset_y' => '0px',
			'shadow_blur' => '5px',
			'shadow_spread' => '0px',
			'shadow_color' => '#333',
			'shadow_inset' => true
		)
	));
	echo $Style->outputCss();
?>

#footerMenu {
	border:none;
	margin-top: 1em;
}

#footerMenu ol {
	text-align:center;
	display: inline-block;
	line-height: 1em;
}

#footerMenu li {
	border-left: 1px solid #ebba3c;
	padding-left: 5px;
	padding-right: 5px;
}

#footerMenu li.first {
	border-left: none;
}

#footerMenu li a {
	color: #ebba3c;
}

#footerMenu li .menu_text {
	vertical-align:top;
}
