.accountPageLinks { list-style: none;margin: 0;padding: 0 }
.accountPageLinks li { line-height: 1.5em; }
.accountPageLinks li span { vertical-align:middle; }
.accountPageLinks li a { vertical-align:middle; }
