html {margin:0;padding:0;border:0;}
a img {border:none;}
:focus {outline:0;}
.container {}
.container:after {}

#construct-header {
  background:#222;
  color:#fafafa;
}

#construct-header h1 {
  color:#fafafa;
  font-family:Cambria, Georgia, serif;
}

#construct-container { overflow:auto;height:600px; }
#construct { border:1px dashed blue; }
#construct.desktop { }
#construct.smartphone { width: 480px;margin-left:auto;margin-right:auto; }
#construct.tablet { width: 960px;margin-left:auto;margin-right:auto; }
/*#construct-header { position: fixed;bottom: 0;left: 0;width: 100%;z-index: 9999; }*/

.showOutline div, .showOutline li { outline: 1px dashed blue; }

.container { min-height:32px;min-width:32px;line-height:1em; }
.container.state-hover { border:none;background:none;outline: 1px dashed white; }
.container.state-active { border:none;background:none;outline: 1px dashed red; }
.container.state-highlight { border:none;background-color:#ffffff; }

.column { display:inline-block;min-height:32px;min-width:32px;line-height:1em;vertical-align: top; }
.column.state-hover { border:none;background:none;outline: 1px dashed yellow; }
.column.state-active { border:none;background:none;outline: 1px dashed red; }
.column.state-highlight { border:none;background-color:#ffffff; }

.ui-sortable { list-style:none;margin: 0;padding: 0;min-height:32px; }
.ui-sortable li.widget { margin: 0;position:relative; }
.ui-sortable li.widget.state-hover { border:none;background:none;outline: 1px dashed white; }
.ui-sortable li.widget.state-active { border:none;background:none;outline: 1px dashed red; }
.ui-sortable li.widget.state-highlight { border:none;background-color:#ffffff; }
.ui-sortable li.widget .widget_name, .ui-sortable li.widget .widgetName { min-height:32px;display: block;vertical-align: middle; }
.ui-sortable .iconHolder { position:absolute;top:0;right:5px;outline:none; }
.ui-sortable .iconHolder .ui-icon { display:inline-block; }

#construct-actionMenu { margin:0;padding: .3em 0;list-style: none;display: block;text-align: center; }
#construct-actionMenu li { display:inline;padding: 0 1.5em 0 0; }
#construct-actionMenu li a { color:#ddf;font-weight:bold; }
#construct-actionMenu li a:hover { color:#fff; }
#construct-actionMenu .finalAction { font-weight:bold; }
#construct-actionMenu .finalAction a { margin-left:0; }

#templateSwitcherDiv { text-align:right;padding-right:1em; }

#saveLayoutText { text-align:center;background-color:#333;border:1px solid red;padding:5px;margin-bottom:5px; }
#saveLayoutText .changedText { color:#d02323;font-size:2em;font-variant: small-caps;line-height:1.3em; }
#saveLayoutText button { float:right; }

.inside { padding: 1em; }
.inside table {  }
.inside table td { line-height:1em;padding:.1em;margin:0; }
.inside table td input, .inside table td select, .inside table td textarea { padding:0;margin:0; }

.adjustPopup {  }
.widthSlider { display:block;margin-left:2em;margin-right:2em;margin-bottom: 2em; }

.makeColorPicker_RGBA { border:1px solid #cccccc; }

.pickerHolder { width:400px; }
.gradientStops { border: 1px solid #cccccc;width:355px; }

.gradientImagesBefore, .gradientImagesAfter { border: 1px solid #cccccc;width:355px;margin-top:5px; }

.colorpicker { z-index:99999; }
.closeWindow { float:right;margin-top:10px;margin-right:10px; }

.ui-icon, .ui-state-highlight .ui-icon, .ui-state-hover .ui-icon, .ui-state-active .ui-icon { background-image: url(<?php echo jqueryIconsPath('2e83ff');?>); }
div.containerBreadcrumb { padding: .3em 0; }
div.containerBreadcrumb .ui-icon { background-image: url(<?php echo jqueryIconsPath('ffffff');?>); }
div.containerBreadcrumb a { color:#ddf;font-weight:bold; }
div.containerBreadcrumb a:hover { color:#fff; }

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#hideLayoutButtons{
	background-image: url(<?php echo sysConfig::getDirWsAdmin();?>template/fallback/images/button_close_32.png);
	width:22px;
	height:22px;
	position:relative;
	top:-220px;
	left:330px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	padding:20px;
	cursor:pointer;
	display:none;
}

#hideTemplateButtons{
	background-image: url(<?php echo sysConfig::getDirWsAdmin();?>template/fallback/images/button_close_32.png);
	width:22px;
	height:22px;
	position:relative;
	top:-100px;
	left:330px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	padding:20px;
	cursor:pointer;
	display:none;
}
#hideTemplatePages{
	background-image: url(<?php echo sysConfig::getDirWsAdmin();?>template/fallback/images/button_close_32.png);
	width:22px;
	height:22px;
	position:relative;
	top:15px;
	left:570px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	padding:20px;
	cursor:pointer;
	display:none;
}
#hideWidgets{
/*background-image: url(images/button_close_32.png);*/
	width:15px;
	height:15px;
	position:relative;
	top:2px;
	left:98%;
	z-index:1000;
	text-indent:-9999px;
	background-repeat:no-repeat;
	cursor:pointer;
}
#widgetsForm{
	width:90%;
	margin:0 auto;
}
.hiddenTextBox{
	display:none;
}