html {
	margin: 0;
	padding: 0;
	border: 0;
}

a img {
	border: none;
}

:focus {
	outline: 0;
}

.container {
}

.column {
	display: inline-block;
	line-height: 1em;
	vertical-align: top;
}

body {
}

.ui-widget-header, .ui-infobox-header {
	border-color: #09649e;
	<?php echo buildSimpleGradient('#11a2ff', '#b5e2ff');?>
}

.ui-infobox-header {
	border: none;
}

.ui-infobox-header-text {
	line-height: 3em;
	color: #000000;
	font-weight: bold;
	font-size: 1em;
}

.ui-widget-content, .ui-infobox-content {
	border-color: #09649e;
}

.pageHeaderContainer {
	font-size: 1.2em;
}

.pageContent {
	margin: .5em;
}

#indexScroller {
}

#indexScroller .scrollBoxStacked, #indexScroller .scrollBoxesStackedContainer {
	margin: 0;
}

#headerMiniNav {
	display: inline-block;
	background: yellow;
	line-height: 2.5em;
	font-size: .8em;
	padding-right: 2em;
	padding-left: 2em;
	margin-right: 2em;
	text-transform: uppercase;
	<?php echo buildLinearGradient(270, array(array('#fff5c9', 0), array('#ffd16d', .5), array('#ffb20d', .5), array('#ffcd5d', .7), array('#ffdc88', 1)));
	echo buildBorderRadius('0px', '0px', '6px', '6px');
	echo buildBoxShadow(array(array('1px', '1px', '5px', '0px', '#000000')));?>
}

#headerMiniNav ol {
	display: inline-block;
	line-height: 1em;
	vertical-align: baseline;
}

#headerMiniNav a {
	font-weight: bold;
	color: #000000;
}

#headerMiniNav a span {
	vertical-align: inherit;
}

#headerMiniNav li.root {
	border-right: 1px solid black;
	padding-left: 1em;
	padding-right: 1em;
	line-height: 1em;
}

#headerMiniNav li.root.last {
	border-right: none;
	padding-right: 0;
}

#mainNavigationMenu {
	margin-top: 3em;
}

#mainNavigationMenu ol {
	line-height: 3em;
}

#mainNavigationMenu li.root {
	margin-left: 1em;
	margin-right: 1em;
}

#mainNavigationMenu li.root a {
	color: #ffffff;
	font-size: 1.2em;
	text-transform: uppercase;
	font-style: italic;
}

#mainNavigationMenu li.root.ui-state-hover, #mainNavigationMenu li.root.ui-state-active {
	color:#555555;
}

#mainNavigationMenu li.root.ui-state-hover a, #mainNavigationMenu li.root.ui-state-active a {
	color: #000000;
	background: url(<?php echo sysConfig::getDirWsCatalog().'templates/car/images/header_nav_icon.png';?>) no-repeat 50% 100%;
}

.demo-notice {
	background: none repeat scroll 0 0 #D75F07;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 1.15;
	margin: 0;
	padding: 6px 10px;
	text-align: center;
}

.boxSimple2 {
	height: 353px;
	width: 319px;
}

.boxTitle2 {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding-left: 33px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.boxContent2 {
	padding-left: 40px;
}

.ui-button {
	line-height: 2em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	color: #000000;
}

.ui-button.ui-state-default {

	<?php
	echo buildLinearGradient(270, array(
		array('#ffda0f', 0),
		array('#fff08c', .05),
		array('#fff08c', 1)
	));
?>
	<?php echo buildBoxShadow(array(array('0px', '0px', '5px', '1px', '#000000')));?>
}

.ui-button.ui-state-hover, .ui-button.ui-state-active {
	<?php echo buildSimpleGradient('#ffda0f', '#fff08c');?>
}

.rentbbut {
	float: left;
	line-height: 2.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin-top:10px;
	<?php echo buildBorderRadius('6px', '6px', '6px', '6px');?>
}

#Box_payPerRental_14_1InfoBox .rentbbut {
	float: none;
	margin-left: 50%;
}

#ui-datepicker-div {
	display: none;
}
.qtyContainer:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}
.rentbbut:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}