/*
some styles if needed
*/

.myf1{
	margin-top:10px;
	margin-bottom:10px;
	font-weight:bold;
}
.myf2{	
	margin-top:10px;
	margin-bottom:10px;
}
.myg1{	
	margin-top:10px;
	margin-bottom:10px;
	font-weight:bold;
}
.picker{
width:95px;
	margin-top:10px;
	margin-right:10px;
}
.pickers{
width:90px;
	
}
.pickp{
	margin-bottom:0;
}
.myev1{
	font-size:10px;
}
.mysh1{
	font-size:10px;
}
.eventf{
	width:170px;
	display:block;
	margin-top:7px;
	position:relative;
}
.helpicon{
	width:16px;
	height:16px;
	background-image:url(help-icon.png);
	display:block;
}
.icon2{
	width:16px;
	height:16px;
	background-image:url(icon_2.png);
	margin-right:4px;
	display:block;
	float:left;
}
.icon3{
	width:16px;
	height:16px;
	background-image:url(icon_3.png);
	margin-right:4px;
	display:block;
	float:left;
}
.icon1{
	width:16px;
	height:16px;
	background-image:url(icon_1.png);
	margin-right:4px;
	display:block;
	float:left;
}
.shipf{
	width:170px;
	display:block;
	margin-top:5px;
	position:relative;
}
select.expand {
    width: auto;
} 

.eventp{
	font-weight:bold;
	margin-bottom:2px;
}

.shipp{
	font-weight:bold;
	margin-bottom:2px;
}